# Ignorar archivos de configuración y carpetas comunes de node
back/node_modules/

# Ignorar archivos de logs
back/logs/
*.log

# Ignorar compilaciones y builds
back/dist/

# Ignorar configuraciones locales
back/.development.env
back/.env

# Ignorar archivos temporales
back/tmp/
*.tmp

# Ignorar carpetas específicas
back/some-folder-to-ignore/

node_modules/
.development.env