# Ignorar archivos de configuración y carpetas comunes de node
app/node_modules/

# Ignorar archivos de logs
app/logs/
*.log

# Ignorar compilaciones y builds
app/dist/

# Ignorar configuraciones locales
app/.development.env
app/.env

# Ignorar archivos temporales
app/tmp/
*.tmp

# Ignorar carpetas específicas
app/some-folder-to-ignore/

node_modules/
.env
README.md.backup